
<html>
    <head>
        <meta charset="utf-8">
        <title>Digital Zoo</title>
    </head>
    <body>

        <h1>Welcome {{testPet.getName}} to Your Horde</h1>


                <div class="pet">
                    <h2> {{newPet.getName}}
                        <h3> Food: {{newPet.getFood}}, Play: {{newPet.getPlay}},   Sleep: {{newPet.getSleep}}</h3>

                </div>



    </body>
</html>
